/* фон как в тетради в клетку */
body {
  background-color: hsl(165, 30%, 89%);
}

/* universal */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  flex-direction: column;
}

/* game */
.game {
  margin: 1rem;
}

.pole {
  display: grid;
  grid-template-rows: repeat(3,150px);
  grid-template-columns: repeat(3,150px);
  cursor: pointer;
}

.kletka {
  border: 1px solid grey;
  border-radius: 15px;
  background-color:lightgray;
}

.kletka p {
  font-size: 7rem;
}

.krestik {
  color: hsl(213, 20%, 46%);
}

.nolik {
  color: hsl(295, 20%, 46%);
}

/* other */
.btn {
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  background-color: lightgray;
  cursor: pointer;
}
